<div class="fluid-container">
    <ngb-carousel>
        <ng-template ngbSlide>
          <img src="../../assets/city.png" alt="city.png" class="carousel-image"/>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../assets/park.png" alt="Random slide" class="carousel-image"/>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../assets/rainforest.png" alt="Random slide" class="carousel-image"/>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../assets/reef.png" alt="Random slide" class="carousel-image"/>
        </ng-template>
      </ngb-carousel>    
</div>
